/* Your story will use the CSS in this passage to style the page.
Give this passage more tags, and it will only affect passages with those tags. */

/* Plain Sugarcane Stylesheet version 1.03 by Richard D. Sharpe, Dec. 30, 2013 */

body {
	/* This affects the entire page. */

	/* Remove default styles */
	color: black;
	background-color: transparent;
	margin: 0;
}

#sidebar {
	/* This affects the Sugarcane sidebar */

	/* Removes the Sugarcane sidebar */
	display: none; 
}

#passages { 
	/* This is a container for all passages displayed on the page */

	/* Removes the vertical line to the left of Sugarcane passages */
	border: 0;

	/* Removes the space left from removing the Sugarcane sidebar */
	margin: 0;

	/* Creates space between the passage and the top and bottom of the page */
	padding-bottom: 5%;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5%;
}

.passage {
	/* This only affects passages */

	/* Passage width */
	width: 640px;

	/* Passage height */
	height: auto;

	/* Centers the passage horizontally */
	margin-left: auto;
	margin-right: auto;

	/* Padding */
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;

	/* Text formatting */
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: medium;
	line-height: normal;
	font-family: sans-serif;

	/* Sets a border around the passage */
	border-style: solid;
	border-width: 1;

	/* Sets the passage background color */
	background: transparent;
}

.passage a {
	/* This affects passage links */

	color: #4169E1;	
}

.passage a:hover {
	/* This affects links while the cursor is over them */

	color: #6495ED;
}


/*
*
*			misc added by diane 
*
*/

/* hide the bar on the side */
/* #ui-bar {
	display: none;
   } */