::BaseStylesheet [stylesheet] html {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*,
*:before,
*:after {
    box-sizing: inherit;
    --bg-color: #1d1f15;
    --primary-color: #A76833;
    --secondary-color: #8BA285;
    --highlight-color: #747043;
    --font-color: #eee;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--bg-color);
    /* background-image: linear-gradient(var(--bg-color), var(--secondary-color)); */
    margin: 0;
}

#ui-dialog-body {
    background-color: var(--highlight-color);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ui-dialog-title {
    margin: 1rem;
    padding: .5rem;
}

#restart-ok,
#restart-cancel {
    background-color: var(--bg-color);
}

#ui-dialog-titlebar {
    background-color: var(--highlight-color);
}

#sidebar {
    display: none;
}

#passages {
    padding: 4rem 1.4rem;
}

.passage {
    width: 800px;
    height: auto;
    margin: auto;
    padding: 3rem;
    line-height: 3;
    border: 10px double var(--font-color);
    box-shadow: 2px 4px 5px black;
}

.passage-userstats {
    text-align: left;
    padding: .6rem;
}

.passage>.passage-userstats {
    background-color: var(--secondary-color);
    padding: 0 5rem;
}

.passage a {
    color: var(--font-color);
    background-color: var(--primary-color);
    padding: .5rem;
    text-align: center;

}

.passage a:hover {
    color: var(--font-color);
    box-shadow: none;
    text-decoration: none;
    box-shadow: 2px 4px 2px black;
}

#ui-bar {
    background-color: transparent;
    border: none;
    padding: 2rem;
    width: 21rem;
}

#ui-bar-body {
    background-color: var(--highlight-color);
    border: 2px solid white;
    box-shadow: 2px 4px 5px black;
    padding: 4rem 1rem;
    height: 370px;
    overflow-y: hidden;
    margin: 3rem 0;
}

.marked {
    color: #e0ff2d;
}

#story-caption.loaded {
    text-align: left;
    padding: 1.5rem;
    background-color: var(--bg-color);
    border: 1px solid var(--font-color);
}

#ui-bar-body>a {
    margin: 1rem;
}

#menu ul {
    border: none;
}

#menu li a {
    margin: 1rem 0;
    border: none;
}

#menu li a:hover {
    background-color: var(--bg-color);
    color: var(--font-color);
}

#menu li:not(:first-child) {
    border: none;
}


/* Large screen breakpoint */
@media screen and (min-width: 800px) {
    #sidebar {
        display: none;
    }

    #passages {
        padding: 4rem 1.4rem;
    }

    .passage {
        width: 800px;
        min-height: 300px;
        margin: auto;
        padding: 3rem;
        line-height: 3;
        border: 10px double var(--font-color);
    }

    .passage a {
        color: var(--font-color);
        padding: .5rem;
    }

    .passage a:hover {
        background-color: var(--primary-color);
        color: var(--font-color);
    }

    #ui-bar-tray button,
    #ui-bar-history [id|=history] {

        border: 2px solid #ffffff;
    }

    #ui-bar-toggle {
        border-radius: 20px;
        right: 0;
        left: 75%;
        padding: .3em .5em .2em;
    }

    #ui-bar-tray button:hover,
    #ui-bar-history [id|=history]:hover {
        background-color: var(--primary-color);
    }

    #ui-bar-tray {
        margin-top: 2rem;
    }
}